@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --centrar: 0 auto;
    --colorPrincipal: #69D4B6;
    --colorFondo: #E7F8F1;
    --colorTitulos: #51ADCF;
    --colorSubTitulos: #0278AE;
    --letras: #000000;
    --tamTitulos: 2rem;
    --tamTexto: 20px;
    --fuentePrincipal: Montserrat;
}


.contenedor{
    width: 80%;
    text-align: center;
    margin: auto auto;
}

.titulo{
    font-size: var(--tamTitulos);
    text-align: center;
    color: var(--colorSubTitulos);
    margin-bottom: 0;
    font-family: var(--fuentePrincipal);
}

.camposPerfil{
    font-family: var(--fuentePrincipal);
    font-size: 1.3rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: -0rem;
}

.texto{
    margin: 0.5rem;
    font-size: var(--tamTexto);
    font-family: var(--fuentePrincipal);
    color: darkgray;
}
.textot{
    cursor: pointer;
    margin-top: 0.5rem;
    font-size: var(--tamTexto);
    font-family: var(--fuentePrincipal);
    color: var(--colorTitulos);
}

.textot:hover{
    color: var(--colorPrincipal);
}


.btneditar{
    cursor: pointer;
    color: white;
    width: 180px;
    height: auto;
    font-family: var(--fuentePrincipal);
    font-size: 0.8rem;
    padding: 0.5rem;
    border-radius: 12px;
    background-color: var(--colorTitulos);
    border-color: 1px solid var(--colorSubTitulos);
}

.btneditar:hover{
    background: var(--colorPrincipal);
}

.escribir{
    padding: 0.5rem;
    width: 20%;
    border-color: 1px solid var(--colorSubTitulos);
}

#modal::backdrop{
    background-color: rgba(0,0,0,0.55);
}

.btn_cerrar{
    cursor: pointer;
    background-color: var(--colorTitulos);
    color: white;
    border-radius: 12px;
    border: none;
    font-family: var(--fuentePrincipal);
    font-size: 0.8rem;
    padding: 0.5rem 0.5rem;
    height: auto;
}

.btn_cerrar:hover{
    background: var(--colorPrincipal);
}

.texto_negro{
    margin-top: 0.5rem;
    font-size: var(--tamTexto);
    font-family: var(--fuentePrincipal);
    color: var(--letras);
}

.modal{
    text-decoration: none;
    border: none;
    border-radius: 30px;
    margin: auto auto;
    padding: 2rem 2rem;
}


.decoracion{
    padding-top: 7rem;
}




.profile-img {
    width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
    margin: auto auto;
  position: relative;
}

.profile-img img {
  position: absolute;
  width: 150%;
  left: -25%;
}

.profile-img .file {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 15px;
  background: rgba(33, 37, 41, 0.5);
  color: #fff;
  text-align: center;
  padding: 10px 0 25px;
    font-family: var(--fuentePrincipal);

}

.profile-img .file input {
  position: absolute;
  display: block;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  cursor: pointer;
}
