@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --centrar: 0 auto;
    --colorPrincipal: #69D4B6;
    --colorFondo: #fffff;
    --colorTitulos: #51ADCF;
    --colorSubTitulos: #0278AE;
    --letras: #000000;
    --tamTitulos: 2.5rem;
    --tamSubTitulos: 25px;
    --tamTexto: 20px;
    --fuentePrincipal: Montserrat;
}

/*Sobre el Proyecto*/
.proyecto{+
    padding-top: 80px;
}

.titulo{
    padding-top:4rem;
    font-size: var(--tamTitulos);
    text-align: center;
    color: var(--colorSubTitulos);
    margin-bottom: 0;
    font-family: var(--fuentePrincipal);
}

.texto{
    font-size: var(--tamTexto);
    margin: 2rem;
    font-family: var(--fuentePrincipal);
}

.textoblanco{
    font-size: var(--tamTexto);
    margin: 2rem;
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
}

.ajustar {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto auto;
    padding: 0 .5rem;
    flex: 1 1 0;
    align-items: center;
}

.imagenes {
    width: 200px;
    height: 200px;
}

.img_landing{
    width: 100%;
    height: 700px;
}


.flecha_bajar{
    position: relative;
    top: -5rem;
    max-width: 5rem;
    animation: flecha-bajar-animacion 2s ease-in-out infinite;
    justify-content: center;
}


.centrar_flecha {
    flex: 1 1 auto;
    display: flex;
   justify-content: center;
    margin-top: 22%;
}

.tituloLanding{
    position: relative;
    color: var(--blanco);
    font-size: 9.5rem;
    text-align: center;
    font-family: var(--fuentePrincipal);
    margin-top: 3rem;
    text-shadow: 6px 8px 3px #0278AE, 2px 2px 1px #ccc
}

.CTA{
    font-size: 2.5rem;
    margin: 2rem;
    font-family: "Georgia Pro Cond bold";
    text-shadow: 6px 6px 3px #0278AE, 2px 2px 1px #ccc
}

/*Animacion*/

@keyframes flecha-bajar-animacion {
    from{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    to{
        transform: translateY(0);
    }
}
.titulo_peque{
    text-align: center;
    color: var(--colorTitulos);
    padding-top: 2rem;
    margin-bottom: 0;
    font-family: var(--fuentePrincipal);
}

.ajustarTerminos {
    display: block;
    width: 80%;
    margin: 1rem auto;
    padding: 0 .5rem;
    flex: 1 1 0;
    align-items: center;
}



.texto-encabezado{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 8rem;
}

.texto-encabezado .display-4 {
    margin-top: 3rem;
}

.display-4 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

.bienvenidos {
    background: url("../img/planeta-tierra.jpg") no-repeat center top;
    background-size: cover;
    color: var(--blanco);
    height: 100vh; /*Para hacer que ocupe toda la pantalla*/
    display: flex;
    flex-direction: column;
}

.cuadrado{
    background: var(--colorSubTitulos);
}

