@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --centrar: 0 auto;
    --colorPrincipal: #69D4B6;
    --colorFondo: #E7F8F1;
    --colorTitulos: #51ADCF;
    --colorSubTitulos: #0278AE;
    --letras: #000000;
    --tamTitulos: 2.5rem;
    --tamSubTitulos: 25px;
    --tamTexto: 20px;
    --fuentePrincipal: Montserrat;
}

/*Sobre el Proyecto*/
.proyecto{
    margin-top: -10rem;
}

.titulo{
    font-size: var(--tamTitulos);
    text-align: center;
    color: var(--colorTitulos);
    padding-top: 2rem;
    margin-bottom: 0;
    font-family: var(--fuentePrincipal);
}

.texto{
    font-size: var(--tamTexto);
    margin: 2rem;
    font-family: var(--fuentePrincipal);
}

.ajustar {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 1rem auto;
    padding: 0 .5rem;
    flex: 1 1 0;
    align-items: center;
}

.imagenes {
    width: 150px;
    height: 150px;
    border-radius: 10%;
}

.img_landing{
    width: 100%;
    height: 700px;
}

.flecha_bajar {
    position: relative;
    top: -5rem;
    max-width: 5rem;
    animation: flecha-bajar-animacion 2s ease-in-out infinite;
}

.centrar_flecha {
    text-align: center;
}

.tituloLanding{
    position: relative;
    color: var(--blanco);
    bottom: -15rem;
    font-size: 5rem;
    text-align: center;
    font-family: var(--fuentePrincipal);
}


/*Animacion*/

@keyframes flecha-bajar-animacion {
    from{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    to{
        transform: translateY(0);
    }
}