@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --centrar: 0 auto;
    --colorPrincipal: #69D4B6;
    --colorFondo: #E7F8F1;
    --colorTitulos: #51ADCF;
    --colorSubTitulos: #0278AE;
    --letras: #000000;
    --tamTitulos: 2.5rem;
    --tamSubTitulos: 25px;
    --tamTexto: 20px;
    --fuentePrincipal: Montserrat;
    --colorTransparente:rgba(15, 106, 180, 0.4);
}

.PaginaLogin{
    background-color: var(--colorTransparente);
    width: 40%;
    margin: auto auto;
    border-radius: 40px;

}
.decoracion{
    padding-top: 7rem;
}
.titulo{
    padding: 1rem 1rem;
    font-size: var(--tamTitulos);
    text-align: center;
    color: var(--blanco);
    margin-bottom: 0;
    font-family: var(--fuentePrincipal);
    text-shadow: 3px 3px 3px #0278AE, 2px 2px 1px #000000;
}
.PaginaLogin{
    align-items: center;
}
.campos{
    text-align: center;
}
.subtirulo{
    font-size: var(--tamSubTitulos);
    font-family: var(--fuentePrincipal);
    padding: 1rem 1rem;
}

.correoUsuarioTxt,
.passUsuarioTxt{
    padding: 0.5rem;
    width: 50%;
    border-radius: 12px;
    border-color: 1px solid var(--colorSubTitulos);
    font-size: var(--tamTexto);
    font-family: var(--fuentePrincipal);
}

.btn-primary{
    cursor: pointer;
    color: black;
    width: auto;
    height: auto;
    font-family: var(--fuentePrincipal);
    padding: 0.5rem;
    border-radius: 12px;
    background-color: var(--blanco);
    border-color: 1px solid var(--colorSubTitulos);
    font-size: 16px;
    font-weight: bold;
}

.btn-primary:hover{
    background: rgba(255, 255, 255, 0.5);

}

.btn{
    text-align: center;

}

.textpRegistro{
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: var(--tamTexto);
}

.aRegistro{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: var(--tamTexto);
}

.aRegistro:hover{
    color: var(--blanco);
}

.texto_no_terminos{
    display: none;
    text-align: center;
    font-family: var(--fuentePrincipal);
    color: red;
}

.content-input input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    
}
 
.content-input input{
	visibility: hidden;
	position: absolute;
	right: 0;
}

.content-input{
	position: relative;
	margin-bottom: 30px;
	padding:5px 0 5px 60px; /* Damos un padding de 60px para posicionar 
        el elemento <i> en este espacio*/
	display: block;
    font-family: var(--fuentePrincipal);
}
 
/* Estas reglas se aplicarán a todos las elementos i 
después de cualquier input*/
.content-input input + i{
       background: #f0f0f0;
       border:2px solid rgba(0,0,0,0.2);
       position: absolute; 
       left: 0;
       top: 0;
}
 
/* Estas reglas se aplicarán a todos los i despues 
de un input de tipo checkbox*/
.content-input input[type=checkbox ] + i{
	width: 40px;
	height: 20px;
	border-radius: 15px;
}

/*
Creamos el círculo que aparece encima de los checkbox
con la etqieta before. Importante aunque no haya contenido
debemos poner definir este valor.
*/
.content-input input[type=checkbox] + i:before{
	content: ''; /* No hay contenido */
	width: 19px;
	height: 20px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
	-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
}

.content-input input[type=checkbox]:checked + i:before{
	left: 22px;
	-webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
}
 
.content-input input[type=checkbox]:checked + i{
 background: var(--colorPrincipal)
}

.hipervinculo{
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: 12px;
    margin-top: -20px;
}

.hiper:link{
    color:var(--colorTitulos);
}

.hiper:visited{
    color: var(--colorSubTitulos);
}

.divCheck{
    display: flex;
    justify-content: center;
}


.btn_cerrar{
    background-color: var(--colorTitulos);
    color: white;
    border-radius: 12px;
    border: none;
    font-family: var(--fuentePrincipal);
    font-size: 0.8rem;
    padding: 0.5rem 0.5rem;
    height: auto;
}

.btn_cerrar:hover{
    background: var(--colorPrincipal);
}

.texto_negro{
    margin-top: 0.5rem;
    font-size: var(--tamTexto);
    font-family: var(--fuentePrincipal);
    color: var(--letras);
}

.modal{
    text-decoration: none;
    border: none;
    border-radius: 30px;
}

.google{
    height: 1.5rem;
    border-radius: 100%;
    margin-left: 0.5rem;
}

.btngogle{
    display:flex;
    align-items: center;
    margin: auto auto;
}

.textoGoogle{
    align-self: center;
}




