@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --centrar: 0 auto;
    --colorPrincipal: #69D4B6;
    --colorFondo: #E7F8F1;
    --colorTitulos: #51ADCF;
    --colorSubTitulos: #0278AE;
    --letras: #000000;
    --tamTitulos: 2.5rem;
    --tamSubTitulos: 25px;
    --tamTexto: 20px;
    --fuentePrincipal: Montserrat;
}

.PaginaLogin{
    background-color: white;
    width: 40%;
    margin: 9rem auto;
    border-radius: 40px;
}

.titulo{
    padding-top: 1rem;
    font-size: var(--tamTitulos);
    text-align: center;
    color: var(--colorTitulos);
    margin-bottom: 0;
    font-family: var(--fuentePrincipal);
}
.PaginaLogin{
    align-items: center;
}
.campos{
    text-align: center;
}
.subtirulo{
    font-size: var(--tamSubTitulos);
    font-family: var(--fuentePrincipal);
}

.correoUsuarioTxt,
.passUsuarioTxt{
    padding: 0.5rem;
    width: 50%;
    border-color: 1px solid var(--colorSubTitulos);
    font-size: var(--tamTexto);
    font-family: var(--fuentePrincipal);
}

.btn-primary{
    color: white;
    width: auto;
    height: auto;
    font-family: var(--fuentePrincipal);
    padding: 0.5rem;
    border-radius: 12px;
    background-color: var(--colorTitulos);
    border-color: 1px solid var(--colorSubTitulos);
    font-size: 16px;
}

.btn-primary:hover{
    background-color: var(--colorPrincipal);

}

.btn{
    text-align: center;
}

.textpRegistro{
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: var(--tamTexto);
}

.aRegistro{
    text-decoration: none;
    font-weight: bold;
    color: var(--colorTitulos);
    font-size: var(--tamTexto);
}

.aRegistro:hover{
    color: var(--colorPrincipal);
}
