@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --centrar: 0 auto;
    --colorPrincipal: #69D4B6;
    --colorFondo: #fffff;
    --colorTitulos: #51ADCF;
    --colorSubTitulos: #0278AE;
    --letras: #000000;
    --tamTitulos: 2rem;
    --tamTexto: 20px;
    --tamMenu: 25px;
    --fuentePrincipal: Montserrat;
    --blanco: #ffffff;
}

/*Hacer que el scroll sea suave*/
html {
    scroll-behavior: smooth;
}

/*Hacer que el contenido de la pagina no se estire demasiado*/
body {
    margin: var(--centrar);
    padding: 0;
    max-width: 1900px;
    background: var(--colorFondo);
}

/*Hacer que se quite el predefinido de los enlaces*/
.menuEnlace{
    text-decoration: none;
    color: var(--letras);
    font-family: var(--fuentePrincipal);
    font-size: var(--tamMenu);
}

/*Cambiar el color cuando pasas por encima*/
.menuEnlace:hover{
    color: var(--colorPrincipal);
}

/*Encabezado*/


.encabezadousuario{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    background: var(--colorFondo);
}

.divlogoHeader {
    display: flex;
    width: fit-content;
}



.item {
    margin: 0 1rem;
    width: fit-content;
    max-width: 4rem;
    height: fit-content;
}



/*Footer*/
.copyright {
    flex: 1 1 0;
    text-decoration: none;
    text-align: center;
    color: darkgrey;
    font-size: 1rem;
    padding: 1rem 1rem;
}

footer{
    bottom: 5px;
    text-align: center;
}

.background{
    background: var(--colorFondo);
}


* {
    padding: 0;
    margin: 0;
}
p {
    margin-bottom: 20px;
}

header{
    width: 100%;
}
.wrapper {
    width: 80%;
    margin: auto;
    overflow:hidden;

}
header {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    list-style: none;

}
nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */

}
nav ul li {
    float: left;
    font-family: var(--fuentePrincipal);
    font-size: 16px;
    margin-top: 0.7rem;
}
nav ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 20px;
    color: #fff;
    text-decoration: none;

}
nav ul li a:hover {
    color: var(--colorPrincipal);
}

.logo {
    max-width: 4rem;
    padding-top: 10px;
}

.login {
    width: 2rem;
    padding: 20px;
}

.loginuser{
    height: 2.4rem;
    padding: 20px;
}

.decoracion{
    padding-top: 7rem;
}