@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --centrar: 0 auto;
    --colorPrincipal: #69D4B6;
    --colorFondo: #E7F8F1;
    --colorTitulos: #51ADCF;
    --colorSubTitulos: #0278AE;
    --letras: #000000;
    --tamTitulos: 2rem;
    --tamTexto: 20px;
    --fuentePrincipal: Montserrat;
}

.imgUsuario{
    width: 100px;
    height: 100px;
    padding-top: 1rem;
}

.contenedorUsuario{
    width: 80%;
    text-align: center;
    margin: 4rem auto;
}

.encabezadousuario{
    border-bottom: 2px solid var(--colorPrincipal);
}

.camposPerfil{
    font-family: var(--fuentePrincipal);
    font-size: 1.3rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -0rem;
}

.titulo{
    padding-top: 2rem;
    font-size: var(--tamTitulos);
    text-align: center;
    color: var(--colorSubTitulos);
    margin-bottom: 0;
    font-family: var(--fuentePrincipal);
}


.texto{
    font-size: var(--tamTexto);
    font-family: var(--fuentePrincipal);
}

.imgEdiatar{
    height: 20px;
    width: 20px;
}

.dosImg{
    display: flex;
    align-items: center;
}

.border{
    padding: 0 5rem;
    margin-top: 2rem;
}

.flex{
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
    background: white;
    border-radius: 50px;
}

.btn{
    color: white;
    width: 180px;
    height: auto;
    font-family: var(--fuentePrincipal);
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 12px;
    background-color: var(--colorTitulos);
    border-color: 1px solid var(--colorSubTitulos);
}

.btn:hover{
    background: var(--colorPrincipal);
}

