@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --centrar: 0 auto;
    --colorPrincipal: #69D4B6;
    --colorFondo: #E7F8F1;
    --colorTitulos: #51ADCF;
    --colorSubTitulos: #0278AE;
    --letras: #000000;
    --tamTitulos: 2rem;
    --tamTexto: 20px;
    --fuentePrincipal: Montserrat;
}


.decoracion{
    padding-top: 7rem;
}

.contenedorUsuario{
    width: 80%;
    text-align: center;
    margin: auto auto;
}

.contenedorGrafica{
    margin: auto auto;
    width: 80%;
}

#grafica{
    margin-top: 2rem;

}

.imgUsuario{
    width: 100px;
    height: 100px;
    padding-top: 1rem;
}

.nombreUsuario{
    font-family: var(--fuentePrincipal);
    font-size: 1.3rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -0rem;
}

.titulo{
    font-size: var(--tamTitulos);
    text-align: center;
    color: var(--colorSubTitulos);
    padding-top: 2rem;
    margin-bottom: 0;
    font-family: var(--fuentePrincipal);
}

.texto{
    font-size: var(--tamTexto);
    margin: 2rem;
    font-family: var(--fuentePrincipal);
}

.contenedor{
    background-color: white;
    width: 50%;
    margin: auto auto;
    border-radius: 30px;
    padding-bottom: 2rem;
}

.encabezadousuario{
    border-bottom: 2px solid var(--colorPrincipal);
}

.btnBD{
    cursor: pointer;
    color: white;
    width: 180px;
    height: auto;
    font-family: var(--fuentePrincipal);
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 12px;
    background-color: var(--colorTitulos);
    border-color: 1px solid var(--colorSubTitulos);
}

.btnBD:hover{
    background-color: var(--colorPrincipal);

}



.verPerfil{
    margin-top: 1rem;
    text-decoration: none;
    color: var(--colorSubTitulos);
    font-family: var(--fuentePrincipal);
}

.verPerfil:hover{
    color: var(--colorPrincipal);
}

.alerta {
    margin: auto auto;
    text-align: center;
    width: 50%;
    margin-top: 1rem;
    color: black;
    font-family: var(--fuentePrincipal);
}

